/* userstyle.css */

/* General Settings */
:root {
  --background-color: #1a1b26;
  --foreground-color: #c0caf5;
  --border-color: #1a1b26;
  --hover-color: #2f3549;
  --highlight-color: #bb9af7;
  --selection-color: #3b4261;
  --red: #f7768e;
  --orange: #ff9e64;
  --yellow: #e0af68;
  --green: #9ece6a;
  --light-green: #73daca;
  --cyan: #7dcfff;
  --blue: #7aa2f7;
  --purple: #bb9af7;
  --light-blue: #b4f9f8;
  --pink: #c792ea !important;
  --white: #c0caf5;
  --lavender: #a6a6ff !important;
  --white: #c0caf5 !important;
  --background-color: #1a1b26 !important;
  --joplin-background-color: #1a1b26 !important;
  --joplin-code-background-color: #1a1b26 !important;
  --joplin-color: #a6a6ff !important;
  --foreground-color: #c0caf5 !important;
  --accent-color: #7aa2f7 !important;
  --border-color: #1a1b26 !important;
  --hover-color: #1e2037 !important;
  --active-color: #33467c !important;
  --header-background-color: #24283b !important;
  --header-foreground-color: #c0caf5;
  --highlight-color: #bb9af7 !important;
  --selection-color: #3b4261 !important;
  --red: #f7768e !important;
  --orange: #ff9e64 !important;
  --yellow: #e0af68 !important;
  --green: #9ece6a !important;
  --light-green: #73daca !important;
  --cyan: #7dcfff !important;
  --blue: #7aa2f7 !important;
  --purple: #bb9af7 !important;
  --pink: #c792ea !important;
  --light-blue: #b4f9f8 !important;
  --white: #c0caf5 !important;
  --selected-notebook-color: #a1ffb7 !important;
  --joplin-selected-color: #6e6eff3d !important;
  --highlighted-color: #6e6eff18 !important;
  --button-color: #ffffff !important;
  --joplin-divider-color: #8b3a3a00 !important;
  --transparent: #ffffff00 !important;
  --lavender: #a6a6ff !important;
  --joplin-url-color: var(--cyan) !important;
  --joplin-background-color-hover3: var(--hover-color) !important;
}

/* Markdown Preview Background */
body {
  background-color: var(--background-color) !important;
  color: var(--white) !important;
}

h1 {
  color: var(--blue) !important;
  border-bottom: 1px solid var(--lavender) !important;
}

h2 {
  color: var(--cyan) !important;
  /* border-bottom: 1px dotted var(--foreground-color) !important; */
}

h3 {
  color: var(--purple) !important;/* used to be green */
}

h4 {
  color: var(--yellow) !important;
}

h5 {
  color: var(--orange) !important;
}

h6 {
  color: var(--red) !important;
}

blockquote {
  color: var(--purple) !important;
  font-style: italic !important;
}

/*strong {
  color: var(--red) !important;
}*/

em {
  color: var(--pink) !important;
  font-style: italic !important;
}

a {
  color: var(--cyan) !important;
  text-decoration: underline !important;
}

del {
  color: var(--red) !important;
  text-decoration: line-through !important;
}

/* Lists */
/* Un-tabbed list */
ul,
ol {
  color: var(--white) !important; 
}

ul ul,
ol ul,
ul ol,
ol ol {
  color: var(--blue) !important;
  /* used to be green */
}

ul ul ul,
ol ul ul,
ul ol ul,
ol ol ul {
  color: var(--pink) !important;
}

ul ul ul ul,
ol ul ul ul,
ul ol ul ul,
ol ol ul ul {
  color: var(--pink) !important;
}

ul ul ul ul ul,
ol ul ul ul ul,
ul ol ul ul ul,
ol ol ul ul ul {
  color: var(--lavender) !important;
}

ul ul ul ul ul ul,
ol ul ul ul ul ul,
ul ol ul ul ul ul,
ol ol ul ul ul ul {
  color: var(--yellow) !important;
}

/* Numbered Lists 
ol {
  color: var(--lavender) !important; /* Un-tabbed numbered list */
}
*/

ol ol {
  color: var(--blue) !important;
  /* used to be green */
}

ol ol ol {
  color: var(--pink) !important;
}

ol ol ol ol {
  color: var(--pink) !important;
}

ol ol ol ol ol {
  color: var(--blue) !important;
}

ol ol ol ol ol ol {
  color: var(--yellow) !important;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color) !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color) !important;
}

/* Default paragraphs are white */
.cm-s-default .CodeMirror-lines div {
  color: var(--white) !important;
}

/* Tables */
.jop-tinymce table td, table td {
  border: 1px solid rgb(166,166,255);
}

.jop-tinymce table, table {
  text-align: left;
  border-collapse: collapse;
  border: 1px solid rgb(70, 70, 70);
  background-color: var(--background-color);
}

.jop-tinymce table tr:nth-child(even), table tr:nth-child(even) {
  background-color: #20212e;
}

.jop-tinymce table tr:hover, table tr:hover {
  background-color: var(--hover-color);
}

.jop-tinymce table th, table th {
  border-bottom: var(--lavender);
  background-color: #20212e;
}

.jop-tinymce table, table {
  text-align: left;
  border-collapse: collapse;
  border: 1px solid rgb(166,166,255);
  background-color: var(--background-color);
}

/* Code block bg */
.hljs {
  background: var(--background-color);
}
